<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <!-- <link rel="stylesheet" href="../stylesheets/s2.css"> -->
    <link rel="stylesheet" href="../stylesheets/styledevise.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Forex</title>
    <link rel="icon shortcut" type="icon" href="../images/forex.png" />
</head>

<body>
    <!-- header section starts      -->
    <header>
        <a href="/" class="logo"><span><img src=../images/forex.png></span></a>

        <nav class="navbar">
            <a href="./Banques.html">Banques</a>
            <a href="./Change.html"> Bureaux de change</a>
            <a href="./devisenocerculer.html">Devises non circulees</a>
            <a href="./Faq.html">Faq</a>
            <a href="./Contact.html">Nous Contact</a>
            <a href="./Compte.html">Mon Compte</a>
        </nav>
        <div class="icons">
            <!-- <i class="fas fa-bars" id="menu-bars"></i> -->
            <div class="input_container">
                <input type="text" placeholder="Search" color="#eeeee4" />
                <a class="fas fa-search" id="search-icon"></a>
            </div>

        </div>
    </header>
    <section class="devise">

        <div class="title">
            <h1>Taux de change de  <%= str.nom %> en Dinar Tunisien en Tunisie
               
            </h1>
        </div>
        <div class="cour">
           
         
            <div class="header_fixed">
                
                <table>
                    <thead>
                        <tr>
                            <th>Banque</th>
                            <th>Nom Devise</th>
                            <th>Coût de Vente</th>
                            <th>Coût d'Achat</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% allResults.forEach(function(result) {%>
                            <tr>
                    
                                <td class="bank">
                                    <img src="<%= result.img_bank%>">
                                    
                                    <button  class="btt_bank" value="">helloword</button>
                                </td>
                                <td class="imgdivise">  
                                    <img src="<%= str.img%>">
                                    <h4><%= str.nom %></h4>
                                </td>   
                                <td>
                                    <h3><%= result.vente %></h3>
                                </td>
                                <td>
                                   <h3><%= result.achat%></h3> 
                                </td>
                               
                                <td>
                                    <%= result.date %>
                                </td>
                             
                            </tr>
                            <% }); %>

                    </tbody>
                </table>
                <div class="best_devise">
                    <h2>Meilleurs taux des banques</h2>
                    <div class="boxed">
                        <div class="vente">
                            <img src="<%= bestResult.imgbankV%>">
                            <h4><%= bestResult.vente %></h4>
                        </div>
                        <div class="achat">
                            <img src="<%= bestResult.imgbankA%>">
                            <h4><%= bestResult.achat %></h4>
                        </div>
        
                    </div>
                </div>
            </div>


        </div>
    </section>
    <!-- footer  -->
    <footer>
        <div class="footer-container">
            <h3>Forex</h3>
            <p>Your Complete trading Solution</p>
            <div class="social">
                <a href=""> <img src="https://img.icons8.com/glyph-neue/64/26e07f/facebook-circled.png" /></a>
                <a href=""> <img src="https://img.icons8.com/glyph-neue/64/26e07f/instagram-new.png" /></a>
                <a href=""><img src="https://img.icons8.com/glyph-neue/64/26e07f/twitter.png" /></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright © 2022 Forex. All rights reserved</p>
        </div>
    </footer>
</body>

</html>